@charset "UTF-8";



header {
    background-image: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.2rem;

    width: 100%;
    
  }
  
  .content {
  }


section {
   
    background-color: red;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.527);
    border: black solid 1px;
    padding: 5px;
    width: 400px;
    height: 250px;
}


section#cadastro {
   
    height: 350px;
}

section p, h1 {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 2em;

}

section input {
   padding: 10px;
 
   
   
}
