@charset "UTF-8";



/* TABLET */

@media screen and (min-width: 768px) and (max-width: 992px) {
    section#login {
        width: 90vw;
        flex-direction: row;
        height: 280px;
    }

    section#login > div#imagem {
        background-position: center center;
       
        width: 40%;
        height: 100%;
    }

 section#login > div#form {
    
   width: 60%;
   height: 100%;
    

 }
    /* PC */
}

@media screen and (min-width: 992px) {
    section#login {
    width: 900px;
    height: 320px;
    flex-direction: row;

    }

    section#login > div#imagem {
        background-position: center center;
       
        width: 50%;
        height: 100%;
        background-image: url(../imagems/gumball.jpg);
    }

    section#login > div#form {
    
        width: 50%;
        height: 100%;
        transform: translateY(5%);
     
      }
}