@charset "UTF-8";

:root {
    --Azul-1: #F53B0F;
    --Azul-2: #F58B0F;
    --Cinza-3: #F5630F;
    --Laranja-4: #F50D08;
    --Azul-5: #F5A500;

    
    --texto-de-Destaque: 'Oswald', Sans-serif;
    --paragrafos: 'Lato', Sans-serif; 
    --outros: 'Raleway',  Sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
   height: 100vh;
    width: 100vw;
}
nav, main, header {
   
    margin: auto;
   
}


nav {
   background-color: var(--Azul-1);
    font-family: var(--outros);
    text-decoration: none;
    color: white;
    font-size: 19px;
    text-align: center;
    padding: 13px 0px 13px 0px;
    
}

header h1 {
    margin: 0px;
    padding: 10px;
    font-variant: small-caps;
}
nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: .5s;
    padding: 10px;
    
}

nav a:hover {
    background-color: var(--Azul-5);
    color: white;
}


.citacao {
    margin: 25px;
    color: white;
    background-color: var(--Azul-1);
    border: 10px solid var(--Azul-1);
    border-radius: 10px 20px ;
    box-shadow: 3px 4px 5px black;
    max-width: 720px;
    
    
    
}

header{
    
    text-align: center;
    width: 100vw;
    height: 30vh;
    background-size: cover;
    background-image: url(../imagems/Academias.jpeg) ;
    background-repeat: no-repeat;
    
   
  
}

a.externo::after {
    content: '\00A0\1F4BB';
}

footer {
   
    margin-bottom: 0px;
    
    background-color: var(--Azul-1);

    
}

footer p {
    color: white;
    text-align: center;
}

footer > p > a {
    text-decoration: none;
    color: var(--Azul-5);
}

footer a:hover {
    text-decoration: underline;
}

.div-flex {

    display: flex;
    
    align-items: center;
    
    justify-content: center;
    
    }


aside {
    background-color: var(--Laranja-4);
    padding: 8px;
    border-radius: 10px;
    box-shadow: 3px 4px 5px black;
    margin: 25px;
    max-width: 750px;
    

}

aside p {
    color: whitesmoke;
}

main {
    
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 8vh;
   
    background-color: white;
    color: black;
   
   
   
   
}
header h1 {
    color: white;
    text-align: center;
}


h1, h2{
    font-family: var(--texto-de-Destaque);
   max-width: 80vw;
}

.title {
    font-size: 1.2em;
    background-image: linear-gradient(to right, var(--Azul-1), transparent);
    color: whitesmoke;
    font-style:italic;

}


p {
    font-family: var(--paragrafos);
    color: var(--Cinza-3);
    padding: 5px;
    margin: 0px;
    line-height: 2em;
   
}

ul {  
    list-style-type: '\2714\0020\0020';
    list-style-position: inside;
    padding: 5px;
}

.imagem {
    text-align: center;
}

